<% @page_title = "Index" %>
<% @page_header = "Theaters" %>

<table class="table table-bordered table-responsive">
  <thead>
    <tr class="bg-primary">
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Movies</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @theatres.each_with_index  do |theatre, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= theatre.name %></td>
      <td><%= number_to_currency(theatre.price) %></td>
      <td><%= theatre.movies.size %></td>
      <td class="actions">
        <%= link_to("Show", theatre_path(id: theatre.id), :class => 'action show') %>
        <%= link_to("Edit", edit_theatre_path(id: theatre.id), :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => theatre.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to("<button type='button' class='btn btn-info'>Add New Theater</button>".html_safe, {:action => 'new'}, :class => 'action new') %>

<br><br>

<%= link_to("Back to Movies", movies_path) %>


