<% @page_title = "New" %>
<% @page_header = "Create Theater" %>
      
<%= form_for(@theatre) do |t| %>

  <% if @theatre.errors.any? %>
    <% @theatre.errors.full_messages.each do |message| %>
      <ul>
        <li class="alert alert-danger"><%= message %></li>
      </ul>
    <% end %>
  <% end %>

  <%= render(:partial => 'form', :locals => {:t => t}) %>

  <%= t.submit("Submit Theater", :class => 'btn btn-success') %><br><br>

  <%= link_to("Back to Index", theatres_path, :class => 'back-index') %>

<% end %>
