<% @page_title = "Show" %>
<% @page_header = "Show Theater" %>

<table class="table table-bordered table-responsive">
    <tr>
      <th>Name</th>
      <td><%= @theatre.name %></td>
    </tr>
    <tr>
      <th>Price</th>
      <td><%= @theatre.price %></td>
    </tr>
    <tr>
      <th>Now Playing</th>
      <td>
        <% @movies.each do |movie| %>
          <h6><%= movie.name %></h6>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>Created At</th>
      <td><%= @theatre.created_at %></td>
    </tr>
    <tr>
      <th>Updated At</th>
      <td><%= @theatre.updated_at %></td>
    </tr>
    
</table><br>

<%= link_to("Back to Index", theatres_path, :class => 'back-index') %>
