<% @page_title = "Index" %>
<% @page_header = "Movies" %>

<br>

<!------------ Bootstrap Carousel ---------->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag('deadpool.jpg', alt: 'deadpool-image') %>
      <div class="carousel-caption">
      </div>
    </div>
    <div class="item">
      <%= image_tag('logan.jpg', alt: 'logan-image') %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br><br>

<!------------ Start Movie Index ------------>
<%= link_to("Add New Movie", {:action => 'new'}, :class => 'btn btn-success') %>

<br><br><br>

<table class="table table-bordered table-responsive">
  <thead>
    <tr class="bg-primary">
      <th>#</th>
      <th>Name</th>
      <th>Rated</th>
      <th>Theatres</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index  do |movie, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= movie.name %></td>
      <td><%= movie.rated %></td>
      <td><%= movie.theatres.size %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => movie.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => movie.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => movie.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to('Go To Theatres', {controller: 'theatres', action: 'index'}, :class => 'btn btn-danger') %>

<%= link_to("Go to Show Times", {:controller => 'show_times', :action => 'index'}, :class => 'btn btn-info') %>

