<% @page_title = "Show" %>
<% @page_header = "Show Movie" %>

<table class="table table-bordered table-responsive">
    <tr>
      <th>Name</th>
      <td><%= @movie.name %></td>
    </tr>
    <tr>
      <th>Rated</th>
      <td><%= @movie.rated %></td>
    </tr>
    <tr>
      <th>Genre</th>
      <td><%= @movie.genre %></td>
    </tr>
    <tr>
      <th>Year</th>
      <td><%= @movie.year %></td>
    </tr>
    <tr>
      <th>Director</th>
      <td><%= @movie.director %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @movie.description %></td>
    </tr>
    <tr>
      <th>Number of Theatres Movie is Playing In </th>
      <td><%= @movie.theatres.size %> </td>
    </tr>
    <tr>
      <th>Image</th>
      <td><%= image_tag(asset_path(@movie.image), size: "250x250") %></td>
    </tr>
    
</table><br>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger"><%= alert %></p>
  <ul>
    <li class="alert alert-danger"><%= flash[:message].join(", ") %></li>
  </ul>
<% end %>

<div class="page-header">
  <h3>All Comments</h3>
</div>

<% @comments.each do |comment| %>
  <h4><%= comment.title %></h4>
  <p>By: <%= comment.name %></p>
  <p>Comment: <%= comment.comment %></p>
  <br><br>
<% end %>

<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Add A Comment
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for(@comment, url: movie_comments_path(movie_id: @movie.id)) do |t| %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Add Comment</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <%= t.label(:title) %>
            <%= t.text_field(:title, :class => 'form-control', :placeholder => 'Title') %>
          </div>
          <div class="form-group">
            <%= t.label(:name) %>
            <%= t.text_field(:name, :class => 'form-control', :placeholder => 'Name') %>
          </div>
          <div class="form-group">
            <%= t.label(:comment) %>
            <%= t.text_area(:comment, :class => 'form-control', :size => '20x5', :placeholder => 'Comment') %>
          </div>
          <%= t.hidden_field(:movie_id, :value => @movie.id) %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= t.submit('Add Comment', :class => 'btn btn-success') %>
        </div>
      <% end %><br>
    </div>
  </div>
</div>

<br><br>

<%= link_to("Back to Index", movies_path, :class => 'back-index') %>

<br><br>
