<% @page_title = "Index" %>
<% @page_header = "Movies" %>

<table class="table table-bordered table-responsive">
  <thead>
    <tr class="bg-primary">
      <th>#</th>
      <th>Name</th>
      <th>Rated</th>
      <th>No. of Theatres</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each_with_index  do |movie, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= movie.name %></td>
      <td><%= movie.rated %></td>
      <td><%= movie.theatres.size%></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => movie.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => movie.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => movie.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table><br>

<%= link_to("<button type='button' class='btn btn-info'>Add New Movie</button>".html_safe, {:action => 'new'}, :class => 'action new') %>

