<html>
  
  <head>
    <title>Movie Index</title>
    <meta charset="utf-8">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  
  <body>
    
    <div class="container">
      <div class="page-header">
        <h1>Movies</h1>
      </div>

      <table class="table table-bordered table-responsive">
        <thead>
          <tr class="bg-primary">
            <th>#</th>
            <th>Name</th>
            <th>Rated</th>
            <th>No. of Theatres</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @movies.each_with_index  do |movie, index| %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td><%= movie.name %></td>
            <td><%= movie.rated %></td>
            <td><%= movie.theatres.size%></td>
            <td class="actions">
              <%= link_to("Show", {:action => 'show', :id => movie.id}, :class => 'action show') %>
              <%= link_to("Edit", {:action => 'edit', :id => movie.id}, :class => 'action edit') %>
              <%= link_to("Delete", {:action => 'delete', :id => movie.id}, :class => 'action delete') %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table><br>
      
      <%= link_to("<button type='button' class='btn btn-info'>Add New Movie</button>".html_safe, {:action => 'new'}, :class => 'action new') %>
      
    </div>
  
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.js"   integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="   crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  
  </body>
</html>
